<app-title-nav 
  [titleComponent]="'Campaign'"
  [countryName]= "campaignToEdit.entityLocation.countryName"
  [faIcon]= "'fa fa-file-text-o fa-4x'"
  [editionView]= "campaignToEdit.edition"
  (onEditView) = "campaignToEdit.edition = !campaignToEdit.edition"
>
</app-title-nav>

<ng-container *ngIf="!campaignToEdit.edition">

  <app-search-filter [searchInput]="searchFilter" (changeView)="getFromSearch($event);">
  </app-search-filter>

  <div class="container-fluid borderFluid">

    <app-panel-creation 
      [countryField] = "true"
      [countryList]="searchFilter.countryFromServer" 
      [languageField] ="true"
      [languageList] = "searchFilter.languageArray"
      [searchInput]="searchFilter" 
      [locationInput]="entityLocation"
      [textField] = "true"
      [textLabel] ="'Campaign'"
      [nameModule]= "'Campaigns'"
      (addNewCountry)="addNewCountry($event)">
    </app-panel-creation>

    <app-module-listing 
      [locationInput]="entityLocation" 
      (valueToEdit)="editLocation($event)"
      (parseDataCamp)="parseDataCamp($event)"
      >
    </app-module-listing> 

  </div>


</ng-container>


<app-module-editing 
[init]="campaignToEdit" 
*ngIf="campaignToEdit.edition" 
[nameModule]="'Campaign'"
(newListValue)="getFromSearch($event);"
[newButton]="'Campaign'">
</app-module-editing>