<div class="sidebar" *ngIf="fixed"> </div>
<div class="sidebar" [class.fixed]="fixed" [ngClass]="{'expanded':isOpen}">
    <div class="sidebar-item no-hover menuButton" id="burger" (click)="isOpen=!isOpen">
        <i class="fa fa-bars hand" aria-hidden="true"></i>
        <span class="sidebar-item-title">CMS</span>
    </div>
    <a href="#" routerLink="/" >
        <div class="sidebar-item">

            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="sidebar-item-title">Home</span>

        </div>
    </a>
    <a href="#" routerLink="../campaign" >
        <div class="sidebar-item">

            <i class="fa  fa-file-text-o" aria-hidden="true"></i>
            <span class="sidebar-item-title">Campaign List</span>

        </div>
    </a>
    <a href="#" routerLink="../officeLocation" >
        <div class="sidebar-item">

            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span class="sidebar-item-title">Location</span>
        </div>

    </a>
    <a href="#" routerLink="../callcenter" >
        <div class="sidebar-item">

            <i class="fa fa-phone" aria-hidden="true"></i>
            <span class="sidebar-item-title">Call Center</span>
        </div>

    </a>
    <a href="#" routerLink="/" >
        <div class="sidebar-item">

            <i class="fa  fa-tag" aria-hidden="true"></i>
            <span class="sidebar-item-title">Labels</span>
        </div>

    </a>
    <a href="#" routerLink="../image" >
        <div class="sidebar-item">

            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <span class="sidebar-item-title">Bulk Upload Images</span>

        </div>
    </a>
    <a href="#" routerLink="../emailUs" >
        <div class="sidebar-item">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span class="sidebar-item-title">Email Us</span>

        </div>
    </a>
</div>