@import 'theme.scss';
$sidebar-border-color: transparent;
$sidebar-bg-color: $secondary;
$sidebar-font-color: white;
$sidebar-hover-bg-color: $primary;

.sidebar {
	background-color: $sidebar-bg-color;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
	height:50%;
	width: 50px;
    overflow-y: hidden;
	transition: 0.4s;
	.sidebar-item-title{
		opacity:0;
	}
}
.expanded {
	width: 236px;
	transition:0.4s;
	.sidebar-item-title{
		opacity: 1;
		transition:2s;	
	}
	
}
.sidebar-item {
	cursor: pointer;
	padding: 10px 15px 10px 15px;
	//border-bottom: 1px solid $sidebar-border-color;
	color: $sidebar-font-color;
	height: 50px;
	overflow: hidden;
	
	a {
		text-decoration: none;
		color: $sidebar-font-color;
	}
	
	.fa {
		max-width: 15px;
		max-height: 15px;
		margin-right: 15px;
	}
	
	&.active {
		background-color: $sidebar-hover-bg-color;
	}
	
	&.no-hover:hover {
		background-color: $sidebar-bg-color;
	}
	
	&:hover {
		background-color: $sidebar-hover-bg-color;
	}
}

.hand {
	cursor: pointer;
}
.fixed{
	position:fixed;
	top:0;
	padding-top: 60px;
    overflow-y: hidden;
	.menuButton{
		display:none;
	}
}
