<div class="conatiner">
    <div class="row justify-content-center">
        <div class="col-sm-4 RegisterTemplate">
                <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" formControlName="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primaryTheme" [disabled]="!registerForm.valid">Submit</button>
                    <a class="col-2" [routerLink]="['/login']"  href="javascript:void(0)">Cancel</a>

                </div>
            </form>
        </div>
    </div>
</div>
