<div class="container-fluid">
    <div class="row" *ngIf="!editionView">
      <div class="col-sm-1 back-btn" style="text-align:center;">
        <a href="javascript:void(0);" routerLink="/">Back</a>
      </div>
      <div class="col-sm-1">
        <i class={{faIcon}} aria-hidden="true"></i>
      </div>
      <div class="col-sm-4">
        <h3>{{titleComp}}</h3>
      </div>
    </div>
    <div class="row" *ngIf="editionView">
      <div class="col-sm-1 back-btn" style="text-align:center;">
        <a href="javascript:void(0);" (click)="changeView()">Back</a>
      </div>
      <div class="col-sm-1">
        <i class={{faIcon}} aria-hidden="true"></i>
      </div>
      <div class="col-sm-6">
        <h3>{{titleComp}} > Edit > {{countryName}} </h3>
      </div>
    </div>
  </div>