
<app-title-nav 
  [titleComponent]="'Office Location'"
  [countryName]= "locationToEdit.entityLocation.countryName"
  [faIcon]= "'fa fa-map-marker fa-4x'"
  [editionView]= "locationToEdit.edition"
  (onEditView) = "locationToEdit.edition = !locationToEdit.edition"
>
</app-title-nav>

<br>


<ng-container *ngIf="!locationToEdit.edition">
     
    <app-search-filter [searchInput]="searchFilter" (changeView)="getFromSearch($event);">
    </app-search-filter>
    
    <div class="container-fluid borderFluid">

        <app-panel-creation 
          [countryField] = "true"
          [countryList]="searchFilter.countryFromServer" 
          [languageField] ="true"
          [languageList] = "searchFilter.languageArray"
          [textField] = "true"
          [textLabel] ="'City'"
          [locationInput]="entityLocation"
          (addNewCountry)="addNewCountry($event)">
      </app-panel-creation>

      <app-module-listing [locationInput]="entityLocation" (valueToEdit)="editLocation($event)">
      </app-module-listing>

    </div>


  <!-- Ends Panel List -->
</ng-container>

<app-module-editing 
[init]="locationToEdit" 
*ngIf="locationToEdit.edition" 
(newListValue)="getFromSearch($event);"
[nameModule]="'Call Center'">
</app-module-editing>
