<app-loader></app-loader>
<app-header *ngIf="isAuth"></app-header>

<div class="app">

    <app-sidebar *ngIf="isAuth" [init]="isOpen"></app-sidebar>

    <div class="page" [ngClass]="{'mainExpanded':!isOpen}">
        <router-outlet></router-outlet>
    </div>

</div>