@import 'theme.scss';
$sidebar-border-color: transparent;
$sidebar-bg-color: $secondary;
$sidebar-font-color: white;
$sidebar-hover-bg-color: $primary;

.header{
   h5{
       padding-top: 2vh;
   }
}
.app {
	height: 93%;
	display:flex;
	flex: 1 1;
}

.page {
	width: 96%;
	flex-flow: column wrap;	
	transition: 0.4s;
}


.top-nav {
	background-color: $sidebar-bg-color;
	height: 50px;
	border-bottom: 1px solid $sidebar-border-color;
	display: flex;
	color: $sidebar-font-color;
}

.top-nav-item {
	padding: 10px;
	color: $sidebar-font-color;
	&:hover {
		background-color: $sidebar-hover-bg-color;
		text-decoration: none;
		color: $sidebar-font-color;
	}
}

.mainExpanded{
	width: 81.0%;
	transition: 0.4s;
}

.fixed{
	position:fixed;
	top:0;
	padding-top: 60px;
    overflow-y: hidden;
	.menuButton{
		display:none;
	}
	
	
}


