.loader{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: 1;
    position: fixed;
}
