
<app-title-nav 
  [titleComponent]="'Call Center'"
  [countryName]= "callCenterToEdit.entityLocation.countryName"
  [faIcon]= "'fa fa-phone fa-4x'"
  [editionView]= "callCenterToEdit.edition"
  (onEditView) = "callCenterToEdit.edition = !callCenterToEdit.edition"
>
</app-title-nav>

<ng-container *ngIf="!callCenterToEdit.edition">

  <app-search-filter [searchInput]="searchFilter" (changeView)="getFromSearch($event);">
  </app-search-filter>

  <div class="container-fluid borderFluid">


    <app-panel-creation 
      [countryField] = "true"
      [countryList]="searchFilter.countryFromServer" 
      [languageField] ="true"
      [languageList] = "searchFilter.languageArray"
      [textField] = "true"
      [textLabel] ="'City'"
      [locationInput]="entityLocation"
      [buttonName]="buttonNewCountry"
      (addNewCountry)="addNewCountry($event)">
    </app-panel-creation>

    <app-module-listing 
      [locationInput]="entityLocation" 
      (valueToEdit)="editLocation($event)">
    </app-module-listing> 

  </div>


</ng-container>


<app-module-editing 
[init]="callCenterToEdit"
*ngIf="callCenterToEdit.edition"
[nameModule]="'Call Center'"
(newListValue)="getFromSearch($event);">
</app-module-editing>