.profile-details{
    margin-top: 5%;
    margin: auto;
    button{
        width: 100px;
    }
    .title{
        display:flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .profil-picture{
        img{
            width: 100%;
            height: 20%;
        }
    
    }
    thead{
        th{
            &:last-child{
                text-align: right;
            }
        }
    }
    tbody{
        tr{
            height: 75px;
            td
            {
                &:first-child{
                font-weight: 700;
                width: 30%;
                }
                &:last-child{
                    text-align: left;
                }
                &.submit-td{
                    text-align: right;
                }
            }
            
            
        }
        .help-block{
            position: absolute;
        }   
    }

}


