<div class="profile-details">
  <div class="row">
    <div class="col-sm-3">
        <div class="profil-picture">
            <img src="assets/defaultPic.png" alt="">
        </div>
    </div>
  <div class="col-sm-6 col-sm-offset-1">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" action="">
      <table class="table">
        <thead>
          <tr>
            <th>
              <h2>Profile</h2>
            </th>
            <th>
                <button class="btn btn-primaryTheme" (click)="editMode=true" *ngIf="!editMode"> edit</button>
                <button class="btn btn-primaryTheme" (click)="editMode=false" *ngIf="editMode"> back</button>
            </th>
          </tr>
  
        </thead>
        <tbody>
  
          <tr>
            <td>First Name</td>
            <td> 
              <span *ngIf="!editMode">{{user.firstname}}</span>
              <div *ngIf="editMode" class="form-group" 
              [ngClass]="{ 'has-error': (user.firstname == '' && userForm.get('firstname').touched) ||
              (userForm.get('firstname').untouched && formSubmitAttempt)}">
                <input type="text"
                placeholder="First Name" 
                class="form-control" 
                formControlName="firstname">
                <div *ngIf="(user.firstname == '' && userForm.get('firstname').touched) ||
                (userForm.get('firstname').untouched && formSubmitAttempt)" class="help-block">
                   First Name is required
                </div>
              </div>
          </td>
          </tr>
          <tr>
              <td>Last Name</td>
              <td>
                <span *ngIf="!editMode">{{user.lastname}}</span>
                <div *ngIf="editMode" class="form-group" 
                  [ngClass]="{ 'has-error': (user.lastname == '' && userForm.get('lastname').touched) || 
                  (userForm.get('lastname').untouched && formSubmitAttempt)}">
                  <input type="text"
                  placeholder="Last Name" 
                  class="form-control" 
                  formControlName="lastname">
                    <div *ngIf="(user.lastname == '' && userForm.get('lastname').touched) ||
                    (userForm.get('lastname').untouched && formSubmitAttempt)" class="help-block">
                        Last Name is required
                    </div>
                </div>
              </td>
          </tr>
          <tr>
            <td>Role</td>
            <td>
                <span *ngIf="!editMode">{{user.role}}</span>
                <div *ngIf="editMode" class="form-group" 
                  [ngClass]="{ 'has-error': (user.role == '' && userForm.get('role').touched) ||
                  (userForm.get('role').untouched && formSubmitAttempt)}">
                  <input type="text"
                  placeholder="Role" 
                  class="form-control" 
                  formControlName="role">
                    <div *ngIf="  (user.role == '' && userForm.get('role').touched) ||
                    (userForm.get('role').untouched && formSubmitAttempt)" class="help-block">
                        User Role is required
                    </div>
                </div>
  
            </td>
          </tr>
          <tr>
            <td colspan="2" *ngIf="editMode" class="submit-td"> 
              <button type="submit" class="btn btn-primaryTheme">Submit</button>
            </td>
          </tr>
        </tbody>
      </table>
      <alert></alert>
    </form>
  </div>
  
  
  </div>
  
</div>
