/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
$fa-font-path: "../node_modules/font-awesome/fonts";
// @import  "../node_modules/font-awesome/scss/font-awesome.scss";
// @import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
// @import "../node_modules/datatables.net-dt/css/jquery.dataTables.css";
@import 'theme.scss';


html, body {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    list-style-type: none;
    a{
        color:black;
    }
}

.align-center{
    margin-top: 2.5vh;
}

.back-btn{
    padding-top:2vh;
}
hr{
    border:  1px solid black
  }

.errorColor{
    color:red;
}

.bs-datepicker{
    z-index: 2;
}
// DEFAULT COLOR BUTTONS  
.default-btn{
    color:$primary;
    transition: 0.5s;
    &:active,
    &:focus{
        color:$primary;
        text-decoration: none;
    }
    &:hover{
        color:$secondary;
        transition: 0.5s;
        text-decoration: none;
    }
}
.pull-right>.dropdown-menu {
    right: 0;
    left: auto;
    margin-right: 3vw;
}
.btn{
    &:active,
    &:focus{
        color:grey;
        text-decoration: none;
    }
    &:hover{
        color:$secondary;
    }
}

.btn-primaryTheme{
    color: #ffffff;
    background-color: $primary;
    border-color: $primary;
        &:hover,
        &:focus,
        &:active{
            color:white !important;
        }
}

btn-secondaryTheme{
    color: #ffffff;
    background-color: $secondary;
    border-color: $secondary;
}

// PAGINATION
.pagination{
    li{
        a{
            color:black
        }
    }
    .disabled{
        a{
            color:#777;
        }
    }
    .active{
        a{
            background-color: #D96868;
            border-color:  #D96868;
            &:active,
            &:focus{
                background-color: #D96868;
                border-color:  #D96868;
            }   
          }
          
    }
}


// IMAGE DEFAULT SIZE
.imgToShow{
    width:50px;
    height: 50px;
    border: 1px solid black;
    transition: 0.8s;
    &:hover{
        transform: scale(1.2);
        transition: 0.8s;
        }
}
.hoverOn{
    text-decoration: none;
    width:1%;
    font-size: 0rem;
    &:hover,&:active,&:focus{
        text-decoration: none;
    }
}
app-loader{
    height:100%;
    width:100%;
}

.modal-lg{
    width:100%;
}
.modal-md{
    width: 40%;
    .img-md{
        width: 300px;
    }
}
.table-list{
    td, th {
        padding: 0px 6px;
    }
}

// FILTER SEARCH PANEL STYLE
.borderFluid{
    border: 2px solid black;
    width: 90%;
    margin-top: 5vh;
    position: relative;
    
}
.header-content{
    z-index: 999;
}
.header-Panel{
    margin-top: -1vh;
    z-index: 1;
    background-color: $primary;
    color:white;
    text-align: center;
    background-color: #323a45;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

//LIST PANEL
.filterLabel{
    font-size: 1.7rem;
    padding-bottom: 8px;    
}
.add-btn{
    margin-top:-1.1vh;
    margin-right: 3vw;
}
.table-custom{
    table-layout: fixed;
    width:100%;
}
textarea{
    resize: none;

}
.desactiveClass{
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
}
.add-btn-newEntity {
    background-color: white;
    color: black;
    border: 1px solid black !important;
    border-bottom: none !important;
    margin-top: -34px;
    border-radius: 0 !important;
    position: relative;
    width: 150px;
    left: 2px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid black;
}
//SETTING CONTRY/LANGUAGE SELECTION - Office - Location


.collapse-Selection{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top:0;
    right: 0;
    z-index: 999;
    background-color: white;
    border-radius: 0;
    border-top: 0;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 147px;
        right: 0px;
        top: -1px;
        border: 1px solid white;
    }
}

.select-Input{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.setting-margin{
    margin-top: 1.5vh;
}

.pac-container {
    z-index: 1051 !important;
}

.table-select-Input{
    width:70%;
}
.table-checkIn input[type=checkbox]{
    position:relative !important;
}
.borderTable{
    border-top: 1px solid #ddd
}
.language-list{
    width:45px;
}
.btn .label {
    position: relative;
    top: -8px;
    right: 5px;
}
.label {
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #000!important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-default{
    background-color: none;
}



//OFFICE / CALLCENTER 

.nav-tabs {
    li {
    float: right !important;
    margin-bottom: -1px;
    }
}


//VALIDATION FORMS
.valdMssg{
    position: absolute;
}