.card-preview{
    img{
        width: 100%;
        height: 230px;
    }
    width: 300px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.modal-preview{
    display: flex;
    flex-direction: column;
    align-items: center;

}