<div class="card-preview">
  <img *ngIf="selectedPrev.fileName != '' && selectedPrev.properties[0][0].fileName != undefined" src={{getUrlImage(selectedPrev.properties[0][0].fileName)}}  alt="">
  <h4 class="text-center">
    <strong>{{selectedPrev.name}}</strong>
  </h4>
</div>