<div class="container-fluid">
  <h1>{{locationToEdit.entityLocation.countryName}}</h1>
  <ul class="nav nav-tabs">
    <li class="dropdown"> 
      <a class="dropdown-toggle" 
      href="javascript:void(0)" 
      (click)="toggleLangSelection()"  
      [ngClass]="{'btn-addLang-active':langSelectionSetting}">
        + Add new language 
        <span class="caret"></span>
      </a>
    </li>
    <ng-container *ngFor="let property of locationToEdit.entityLocation.cities[indexCity].properties[0]; let i = index;">
    <li data-toggle="tab" *ngIf="i != 0">
      <a href="javascript:void(0)" (click)="languageSelected=i;langSelectionSetting=false;">
        {{property.language}}
      </a>
    </li>
    </ng-container>
    <li data-toggle="tab" 
      class="active">
      <a href="#" (click)="languageSelected=0; langSelectionSetting=false;">
        {{locationToEdit.entityLocation.cities[indexCity].properties[0][0].language}}
      </a>
    </li>
  </ul>
  <div id="demo" class="collapse-Selection" *ngIf="langSelectionSetting">
      <h4>Settings</h4>
      <div class="setting-margin">
        <div class="form-group">
          <label for=""> Current Language</label>
            <select name="" [(ngModel)]="languageToCopy" class="form-control select-Input" id="">
                <option selected disabled>Copy Content From</option>
              <option value={{property.language}} *ngFor="let property of locationToEdit.entityLocation.cities[indexCity].properties[0]; let i = index;">
                {{property.language}}
              </option>
            </select>
        </div>
        <div class="form-group">
          <label for="">New Language</label>
          <select name="" [(ngModel)]="newLanguageCopied" id="" class="form-control select-Input rightSelect-Style">
              <option selected disabled>Select New Language</option>
            <option value={{language}} *ngFor="let language of availableSelectionLanguage;">
              {{language}}
            </option>
          </select>
        </div>
      <br>
      <button href="javascript:void(0);" (click)="addNewLanguage()" [disabled]="validSettingForm()" class="btn btn-primaryTheme setting-margin">
          Add New Language
      </button>
    </div>
</div>
</div>
<div class="container-fluid"> 
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid borderFluid"> 
    <div class="row">
      <div class="col-sm-3 header-content">
        <h3 class="header-Panel">{{nameModule}} List</h3>
      </div>
      <div class="pull-right add-btn">
        <a href="javascript:void(0);" (click)="addCityForm()" class="btn btn-primaryTheme">
              Add New {{newButton}}
            </a>
      </div>
      <div class="row list-Component">
      <div class="col-sm-12">
        <table class="table table-condensed">
          <thead>
            <tr>
                <th *ngIf="locationToEdit.module === 'Campaign'">
                    Image <span class="errorColor">*</span>
                </th>
                <th *ngIf="locationToEdit.module === 'Campaign'">
                    From
                </th>
                <th *ngIf="locationToEdit.module === 'Campaign'">
                    To 
                </th>
              <th *ngIf="locationToEdit.module === 'Campaign'">
                  Name <span class="errorColor">*</span>
              </th>
              <th  *ngIf="locationToEdit.module === 'Campaign'" >
                  Link 
                  <!-- <span class="errorColor">*</span> -->
              </th>
              <th *ngIf="locationToEdit.module === 'CallCenter' || locationToEdit.module === 'OfficeLocation' ">
                  Status
                </th>
              <th  *ngIf="locationToEdit.module === 'CallCenter' || locationToEdit.module === 'OfficeLocation' ">
                City Translation<span class="errorColor">*</span>
              </th>
              <th *ngIf="locationToEdit.module === 'OfficeLocation'">
                Address <span class="errorColor">*</span>
              </th>
              <th *ngIf="locationToEdit.module === 'CallCenter' || locationToEdit.module === 'OfficeLocation' ">
                Telephone
              </th>
              <th *ngIf="locationToEdit.module === 'CallCenter' || locationToEdit.module === 'OfficeLocation' ">
                Opening Times
              </th>
              <th *ngIf="locationToEdit.module === 'OfficeLocation'">
               Latitude/
                Longitude
              </th>
              <th *ngIf="locationToEdit.module != 'Campaign'">
                  Delete 
              </th>
            </tr>
          </thead>
          <tbody>
            <tr formArrayName="arrayCityForm" *ngFor="let arrayCity of arrayForm; let i = index;">
              <ng-container [formGroupName]="i">
                  
                  <td style="width:15%" *ngIf="locationToEdit.module === 'Campaign'">
                    <div class="col-sm-12 form-group">
                      <a href="#" (click)="setIndexForm(i); toggleCampaignModal=true" data-toggle="modal" data-target="#campaignModal">
                          <i *ngIf="!hasValue(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].fileName)"
                          class="fa fa-upload" aria-hidden="true">
                        </i>
                        <img
                        src="{{getUrlImage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].fileName)}}" 
                        class="imgToShow" 
                        alt="" 
                        *ngIf="hasValue(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].fileName)">
                      </a>
                      <input type="hidden" 
                      class="form-control" 
                      [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].fileName"
                      formControlName="fileName">
                    </div>
                 </td>
                      <td style="width:15%" *ngIf="locationToEdit.module === 'Campaign'">
                          <div class="form-group">
                          <div class='input-group date' id='datetimepicker1'>
                          <input type="text" 
                          class="form-control" 
                          [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].fromSchedule"
                          bsDatepicker 
                          #dpFrom="bsDatepicker" 
                          [bsConfig]="bsConfig" 
                          formControlName="fromSchedule"
                          dir={{inputLanguage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].language)}}>
                          <span class="input-group-addon" (click)="dpFrom.toggle()">
                            <span class="fa fa-calendar"></span>
                         </span>  
                        </div>
                        </div>
                    </td>
                    <td style="width:15%" *ngIf="locationToEdit.module === 'Campaign'">
                        <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                        <input type="text" 
                        class="form-control" 
                        [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].toSchedule"
                        (change) ="parseDate(indexCity,i,languageSelected, 'to')"
                        bsDatepicker 
                        #dpFrom="bsDatepicker" 
                        [bsConfig]="bsConfig" 
                        formControlName="toSchedule"
                        dir={{inputLanguage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].language)}}>
                        <span class="input-group-addon" (click)="dpFrom.toggle()">
                          <span class="fa fa-calendar"></span>
                       </span>  
                      </div>
                      </div>
                  </td>
                  <td style="width:15%" *ngIf="locationToEdit.module == 'Campaign'">
                      <div class="form-group" 
                        [ngClass]="{ 'has-error': 
                        (locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].campaignName == '' && arrayCity.get('campaignName').touched) ||
                        (arrayCity.get('campaignName').untouched && formSubmitAttempt)
                        }">
                        <input type="text"
                        placeholder="Campaign Name" 
                        class="form-control" 
                        [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].campaignName" 
                        formControlName="campaignName"
                        dir={{inputLanguage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].language)}}>
                        <div *ngIf="  (locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].campaignName == '' && arrayCity.get('campaignName').touched) ||
                        (arrayCity.get('campaignName').untouched && formSubmitAttempt)" class="help-block">
                            Campaign Name is required
                        </div>
                      </div>
                    </td>
                    <td style="width:15%" *ngIf="locationToEdit.module == 'Campaign'">
                        <div class="form-group" >
                          <input type="text"
                          placeholder="link" 
                          class="form-control" 
                          [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].link" 
                          formControlName="link"
                          dir={{inputLanguage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].language)}}>
                          <!-- <div *ngIf="
                          (locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].link == '' && arrayCity.get('link').touched) ||
                           (arrayCity.get('link').untouched && formSubmitAttempt)" class="help-block">
                              link is required
                          </div> -->
                        </div>
                      </td>
                    <td style="width:10%" *ngIf="locationToEdit.module !== 'Campaign'">
                        <select formControlName="published"
                          *ngIf="i === 0"
                          name="Published" 
                          [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].published"
                          (change)="changeStatusValue($event,i, languageSelected)" 
                          class="form-control">
                          <option value="true">Published</option>
                          <option value="false">Un-Published</option>
                        </select>
                      </td>
                    <td style="width:15%" *ngIf="locationToEdit.module !== 'Campaign'">
                      <div class="form-group" 
                        *ngIf="i === 0"
                        [ngClass]="{ 'has-error': 
                        (locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].cityName == '' && arrayCity.get('city').touched) ||
                        (arrayCity.get('city').untouched && formSubmitAttempt) }">
                        <input type="text"
                        placeholder="City" 
                        class="form-control" 
                        [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].cityName" 
                        formControlName="city"
                        (change)="changePropertyValue(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].cityName, languageSelected, 'cityName')"
                        dir={{inputLanguage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].language)}}>
                        <div *ngIf="
                        (locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].cityName == '' && arrayCity.get('city').touched) ||
                        (arrayCity.get('city').untouched && formSubmitAttempt)" class="help-block">
                            City is required
                        </div>
                      </div>
                    </td>
                  
                  <td style="width:20%" *ngIf="locationToEdit.module === 'OfficeLocation'">
                    <div class="form-group" 
                      [ngClass]="{ 'has-error':  
                      (locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].address == '' && arrayCity.get('address').touched) ||
                      (arrayCity.get('address').untouched && formSubmitAttempt) }"> 
                      <textarea (keyup)="onKey($event)"
                        placeholder="Address" 
                        class="form-control"
                        [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].address"
                        formControlName="address"
                        dir={{inputLanguage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].language)}}>
                      </textarea>
                      <div *ngIf="
                      (locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].address == '' && arrayCity.get('address').touched) ||
                      (arrayCity.get('address').untouched && formSubmitAttempt)" class="help-block">
                          Address is required
                        </div>
                    </div>
                  </td>
                  <td style="width:20%" *ngIf="locationToEdit.module !== 'Campaign'">
                    <textarea (keyup)="onKey($event)"
                      placeholder="Telephone" 
                      class="form-control"
                      [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].telephone"
                      formControlName="telephone"
                    >
                    </textarea>
                  </td>
                  <td style="width:20%" *ngIf="locationToEdit.module !== 'Campaign'">
                    <textarea (keyup)="onKey($event)"
                     placeholder="Opening Time" 
                     class="form-control" 
                     [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].openingTime" 
                     formControlName="openingTime"
                     dir={{inputLanguage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].language)}}>
                    </textarea>
                  </td>
                  <td style="width:15%" *ngIf="locationToEdit.module === 'OfficeLocation'">
                    <label for="latitude" class="latLongLabel"> Lat </label> 
                    <input type="text"
                    placeholder="Latitude"  
                    class="form-control latLongInput" 
                    [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].latitude" 
                    formControlName="latitude"
                    dir={{inputLanguage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].language)}}>
                    <label for="latitude" class="latLongLabel"> Long </label> 
                    <input type="text"
                    placeholder="Longitude" 
                    class="form-control latLongInput"
                    [(ngModel)]="locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].longitude" 
                    formControlName="longitude"
                    dir={{inputLanguage(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected].language)}}>
                    <a href="" 
                    class="default-btn"
                    data-toggle="modal" 
                    data-target="#locationModal" 
                    (click)="toggleLocationModal=true; selectCityLocation(locationToEdit.entityLocation.cities[indexCity].properties[i][languageSelected])"> 
                    Select new location</a>
                  </td>
               
                  <td style="width:5%" class="deleteBtn">
                      <a class="default-btn" href="javascript:void(0);" *ngIf="arrayForm.length>1" (click)="removeCity(indexCity,i)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                  
              </ng-container>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div [ngClass]="{'desactiveClass': langSelectionSetting}">

      </div>
  </div>
  <br>
  <div class="row">

    <div class="col-sm-2 pull-right">
      <div class="form-group">
        <button type="submit" class="btn btn-primaryTheme" (click)="submitted=true;">Save Changes</button>
      </div>
    </div>

  </div>
  <div class="row">
      <div class="col-sm-5 pull-right">
          <alert></alert>
      </div>
  </div>
</form>
</div>


<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModal" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Office Geolocation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
       <app-geolocation *ngIf="toggleLocationModal"  [init]="locationCityToEdit" >

       </app-geolocation>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primaryTheme" data-dismiss="modal" (click)="saveLocation()" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="campaignModal" tabindex="-1" role="dialog" aria-labelledby="campaignModal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Image List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="toggleCampaignModal" >
          <form [formGroup]="fileForm" (ngSubmit)="submitFile(fileForm.value)">
            <div class="col-sm-12 text-center">
              <label class="upload-btn">
                
                          <i class="fa fa-upload" aria-hidden="true"></i>     
                          <ng-container *ngIf="newImageSelected">
                            {{selectedUploadFile.name}}
                          </ng-container>
                          <ng-container *ngIf="!newImageSelected">
                              + New File
                            </ng-container>
                            <input type="file" id="file" class="upload-fileInput" multiple accept="image/x-png,image/gif,image/jpeg" (change)="imageUpload($event)">
              </label>
            </div>
            <div class="col-sm-12 upload-btn text-center" *ngIf="newImageSelected">
              <button type="submit" class="btn btn-primaryTheme">Submit</button>
            </div>
          </form>
          <br>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>FileName</th>
                <th>Preview</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of paginationList.pagedItems">
                <td>{{file.filename}}</td>
                <td><img class="img-md"  src={{getUrlImage(file.filename)}} alt=""></td>
                <td>
                  <div class="radio">
                    <label><input type="radio" name="optradio" (change)="selectImageFromList(file.filename)" value={{file.filename}}></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-sm-12">
          <ng-container *ngIf="paginationList.entityList.length>0">
              <app-pagination [init]="paginationList">
              </app-pagination>
            </ng-container>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primaryTheme" data-dismiss="modal">Save changes</button>
    
        </div>
      </div>
    </div>
  </div>

