.upload-file{
    width: 10px;
}
.upload-fileInput{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.upload-btn{
    cursor: pointer;
}


.collapse-Selection{
    right:16px;
    top: unset;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 0px;
        right: 0px;
        top: -1px;
        border: 1px solid white;
    }
}

.nav-tabs li {
    &.active{
        width:50px;
    }
}

