<div class="container">
<ul class="nav nav-tabs">
    <li  data-toggle="tab" 
    class="active"> 
    <a 
    href="javascript:void(0)" (click)="profileView=false">
        Change Password
    </a>
  </li>
    <li data-toggle="tab" 
      class="active"> 
      <a 
      href="javascript:void(0)" (click)="profileView=true">
         Profile
      </a>
    </li>
   
</ul>
<div class="container">
      <div *ngIf="profileView">
        <app-info></app-info>
    </div>

    <div *ngIf="!profileView">
        <app-edit-password></app-edit-password>
    </div>
  </div>
</div>

