<div class="alert alert-success text-alert" role="alert">
    Select priority by drag and drop. 
</div>
<ngx-nestable [(list)]="propertyList" [options]="options" [template]="itemTemplate">
</ngx-nestable>

<ng-template #itemTemplate let-row>
  <app-modal-card-view class="card-container" [entitySelected]="row.item"> </app-modal-card-view>
</ng-template>

<ng-template #empty_item>
  <span style="width: 40px"></span>
</ng-template>
