<br>

<app-title-nav  [titleComponent]="'Email Us'" [faIcon]= "'fa fa-envelope-o fa-4x'"></app-title-nav>

<br>

<app-search-filter [searchInput]="searchFilter" (changeView)="getFromSearch($event);">
</app-search-filter>

<div class="container-fluid borderFluid">
  <div class="row">
    <div class="col-sm-3 col-xs-3">
      <h3 class="header-Panel">Current Emails</h3>
    </div>
    <div class="pull-right">
      <a href="javascript:void(0);" (click)="emailCreationSetting=true" class="add-btn btn btn-primaryTheme" *ngIf="!emailCreationSetting">
            Add New Email
            </a>

      <a href="javascript:void(0);" (click)="emailCreationSetting=false" class="btn btn-primaryTheme add-btn-newEntity" *ngIf="emailCreationSetting">
            Add New Email
            </a>
    </div>
    <div id="demo" class="collapse-Selection" *ngIf="emailCreationSetting">
      <h4>Settings</h4>
      <form name="emailForm"
      #emailForm="ngForm">
      <div class="setting-margin">
 
              <div class="row">
                <div class="col-sm-7">
                  <div class="form-group"
                    [ngClass]="{ 'has-error': !validSettingForm() && email.touched}">
                    <label class="filterLabel" for="">Email</label>
                    <br>
                    <input type="email" 
                      [(ngModel)]="emailToCreate.email" 
                      #email="ngModel"
                      name="email"
                      placeholder="example@email.com" 
                      class="form-control" required>
                      <div *ngIf=" !validSettingForm()  && email.touched" class="valdMssg help-block">
                       Tip: example@email.com
                      </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <label class="filterLabel" for="status">Status</label>
                  <br>
                  <select [(ngModel)]="emailToCreate.published" name="published" (change)="toggleStatus(emailToCreate, $event)" id="" class="form-control" required>
                    <option value='true'>Published</option>
                    <option selected value='false'>Un-Published</option>
                    </select>
                </div>
              </div>
      
        <br>
        <a href="javascript:void(0);" (click)="emailCreationSetting=false" class="btn btn-default setting-margin">
            Cancel
          </a>

        <button type="submit" href="javascript:void(0);" class="btn btn-primaryTheme setting-margin" (click)="addNewEmail(emailToCreate)" [disabled]="!validSettingForm()">
              Add New Email
          </button>

      </div>
    </form>
    </div>
  </div>
  <div class="row list-Component">
    <div class="col-sm-12">
      <table class="table-condensed table-custom" *ngIf="resultsFound">
        <thead>
          <tr>
            <th>
              Email
            </th>
            <th>
              Status
            </th>
            <th colspan="2">
              Option
            </th>
            <th class="text-center">
              <!-- <label class="checkbox-inline table-checkIn"><input type="checkbox" value="" [(ngModel)]="bulkAction" (change)="toggleDeleteSelection()"></label> -->
              <select name="" id="" [(ngModel)]="selectOptions" (change)="deleteSelectedFiles($event)" class="select-Input table-select-Input">
              <option selected disabled>Bulk Action</option>
              <option  *ngIf="multipleEmail.length > 0" value='true'>Publish All</option>
              <!-- <option *ngIf="bulkAction"  value='false'e>Delete All</option> -->
            </select>
            </th>
          </tr>
        </thead>
        <tr *ngFor="let contactUs of paginationList.pagedItems; let i = index;">
          <td>
            <p>
              {{ contactUs.email }}
            </p>

          </td>
          <!-- *ngFor="let property of officeLocations.propertyModel"> -->
          <td>
            <p *ngIf="contactUs.published">Published</p>
            <p *ngIf="!contactUs.published">Un-Published</p>
          </td>
          <td>
            <a href="#" data-toggle="modal" data-target="#editEmailModal" (click)="editEmail(contactUs)">
                <span class="default-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
               Edit
             </span></a>
          </td>
          <td>
            <a href="#" data-toggle="modal" data-target="#editEmailModal" (click)="selectEmailToDelete(contactUs)">
                <span class="default-btn"><i class="fa fa-times" aria-hidden="true"></i>
               Delete
             </span></a>

          </td>
          <td class="text-center">
            <label class="checkbox-inline table-checkIn"><input type="checkbox" value="" [(ngModel)]="mailToPublish[i]"  [disabled]="bulkAction"></label>
          </td>
        </tr>
      </table>

    
      <div *ngIf="!resultsFound">
        <h1> No Content Found</h1>
      </div>
    </div>
  </div>
  <div [ngClass]="{'desactiveClass':emailCreationSetting}"></div>
</div>
<div class="modal fade" id="editEmailModal" tabindex="-1" role="dialog" aria-labelledby="locationModal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
           <h2 class="modal-title text-center" id="exampleModalLabel" *ngIf="editView">Edit Email</h2>
          <h2 class="modal-title text-center" id="exampleModalLabel" *ngIf="!editView">Delete Email</h2>
        </div>
        <div class="modal-body" *ngIf="editView && emailToEdit">
            <form>
                <div class="row">
                  <div class="col-sm-5 col-sm-offset-2">
                    <div class="form-group">
                      <label class="filterLabel" for="">Email</label>
                      <br>
                      <input type="email" [(ngModel)]="emailToEdit.email" name="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <label class="filterLabel" for="status">Status</label>
                    <br>
                    <select [(ngModel)]="emailToEdit.published" name="Published" id="" (change)="toggleStatus(emailToEdit, $event)" class="form-control">
                      <option selected value="" disabled>Bulk Action</option>  
                      <option value='true'>Published</option>
                        <option value='false'>Un-Published</option>
                      </select>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="text-center">
                    <button type="submit" data-dismiss="modal" class="btn btn-primaryTheme" (click)="onSubmit(emailToEdit)">Submit</button>
                  </div>
                </div>
              </form>
        </div>
        
        <div class="modal-body text-center" *ngIf="!editView && emailToDelete">
            <p>
                Do you want to delete this email ?
            </p> 
            <h4 > 
          {{emailToDelete.email}}
          </h4>
       
      
        </div>
        <div class="modal-footer" *ngIf="!editView">
          <button type="button" class="btn btn-primaryTheme" data-dismiss="modal" (click)="onDelete([fileModalView])">Accept</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<!-- pager -->
<!-- pager -->
<ng-container *ngIf="paginationList.entityList.length>0">
    <app-pagination [init]="paginationList">
    </app-pagination>
</ng-container>