<div class="container-fluid" >
  <div class="row navBar-default">
      <div class="col-sm-3">
      <a routerLink="/">
          <img src="assets/main_logo.png" alt="">
      </a>
      </div>
      <div class="col-sm-2 col-sm-offset-6 pull-right header">
          <h5 style="text-align:right;"> 
                <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                  : <strong >{{user.username}}</strong>
          </h5>    
          
      </div>
      <div class="col-sm-1 header-dropdown pull-right header">      
        <div class="dropdown pull-right">
   
            <button class="btn btn-primaryTheme dropdown-toggle pull-right" type="button" data-toggle="dropdown">  
                    <i class="fa fa-cog fa-1x" aria-hidden="true"></i> Settings
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0);" routerLink="/profile">User Settings</a></li>
                <li><a href="javascript:void(0);" (click)="logOut();">Logout</a></li>
            </ul>
           
        </div>
      </div>
  </div>
</div>    

<!-- <a href="javascript:void(0)" (click)="logOut();">
    <h5>Logout</h5>
</a> -->