@import 'theme.scss';
.container-fluid{
    height:-1px;
}

.navBar-default{
    display:flex;
    align-items: center;
    background-color: $primary;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
   :first-child{
       padding-left: 0;
   }
   .header-dropdown{
    display: flex;
    justify-content: center;
        .dropdown-menu{
            margin-right: 0;
        }
        a{
            color:black;
            text-align: left;
            margin: 0 20px;
        }
    }
   h1,h2,h3,h4,h5,a, p{
       color: white;
   }
}