<div class="container-fluid borderFluid">
  <div class="row">
    <div class="col-sm-2">
      <h3 class="header-Panel">Filters</h3>
    </div>
  </div>
  <br>
  <form [formGroup]="myForm" (ngSubmit)="onSearch(myForm.value)">
    <div class="row flex-container">

      <div class="col-sm-4  inputs" *ngIf="searchFilter.availableSearch.searchName">
          <div class="form-group">
              <label class="filterLabel" for="">Name</label>
              <br>
              <input type="text" [(ngModel)]="entityToSearch.name" placeholder="example@email.com" class="form-control" formControlName="name">
          </div>
      </div>

      <div class="col-sm-4  inputs"  *ngIf="searchFilter.availableSearch.searchCountry">
        <div class="form-group">
          <label class="filterLabel" for="country">Country</label>
          <ng-select
          placeholder="Country" 
          formControlName="country" 
          [multiple]="true" 
          [items]="searchFilter.countriesArray" 
          (data)="refreshValue($event)" 
          (selected)="selectedCountry($event)"
          (removed)="removedCountry($event)">
          </ng-select>
        </div>
      </div>

      <div class="col-sm-4 inputs" *ngIf="searchFilter.availableSearch.searchLanguage">
        <div class="form-group">
          <label class="filterLabel" for="languages">Languages</label>
          <ng-select 
          placeholder="Languages" 
          formControlName="language"
          [allowClear]="true" 
          [multiple]="true" 
          [items]="searchFilter.languageArray" 
          (data)="refreshValue($event)" 
          (selected)="selectedLenguage($event)"
          (removed)="removedLanguage($event)">
          </ng-select>
        </div>
      </div>

      <div class="col-sm-4 inputs" *ngIf="searchFilter.availableSearch.searchStatus">
        <label class="filterLabel" for="image">Status</label>
        <br>
        <label class="radio-inline">
          <input type="radio" 
          [(ngModel)]="entityToSearch.published" 
          formControlName="published" 
          value="">All
        </label>

        <label class="radio-inline">
          <input type="radio" 
          [(ngModel)]="entityToSearch.published" 
          formControlName="published" 
          value="true">Published
        </label>


        <label class="radio-inline">
          <input type="radio" 
          [(ngModel)]="entityToSearch.published" 
          formControlName="published" 
          value="false">un-Published
        </label>
      </div>
    </div>
    <div class="row flex-container">
      <div class="col-sm-2 inputs text-center">
            <button type="submit" class="btn btn-primaryTheme">Search</button>
      </div>
    </div>
  </form>
</div>