<div class="container-fluid hidden-xs">

    <div class="row menuItems">

        <!-- Campaign  -->
        <div class="col-sm-1 col-sm-offset-2">
                <a href="#" routerLink="../campaign" [queryParams]="{}" >
                    <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
                </a>
        </div>
        <div class="col-sm-2">
                <a href="#" routerLink="../campaign" [queryParams]="{}" >
                    <h4>Campaigns</h4>
                </a>
        </div>

        <!-- Office Location -->
        <div class="col-sm-1 col-sm-offset-2">
            <a href="#" routerLink="../officeLocation" [queryParams]="{}" >
                <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                </a>
        </div>
        <div class="col-sm-2">
            <a href="#" routerLink="../officeLocation" [queryParams]="{}" >
                <h4>Office Location</h4>
            </a>
        </div>

    </div>




    <div class="row menuItems">


        <!-- Labels -->
        <div class="col-sm-1 col-sm-offset-2">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Under Construction!" routerLink="/" routerLink="/" [queryParams]="{}" >
                    <i class="fa fa-tag fa-5x" aria-hidden="true"></i>
                </a>
        </div>
        <div class="col-sm-2">
            
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Under Construction!" routerLink="/" [queryParams]="{}" >
                    <h4>Labels (Under Construction)</h4>
                </a>
        </div>

         <!-- Location -->
         <div class="col-sm-1 col-sm-offset-2">
                <a href="#" routerLink="../callcenter" [queryParams]="{}" >
                    <i class="fa fa-phone fa-5x" aria-hidden="true"></i>
                </a>
        </div>
        <div class="col-sm-2">
                <a href="#" routerLink="../callcenter" [queryParams]="{}">
                    <h4>Call Center</h4>
                </a>
        </div>

    </div>
    
    <div class="row menuItems">
        
                <!-- Email Us -->
                <div class="col-sm-1 col-sm-offset-2">
                        <a href="#" routerLink="../emailUs" [queryParams]="{}" >
                            <i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i>
                        </a>
                </div>
                <div class="col-sm-2">
                        <a href="#" routerLink="../emailUs" [queryParams]="{}" >
                            <h4>Email Us</h4>
                        </a>
                </div>
        
        
                <!-- Images -->
                <div class="col-sm-1 col-sm-offset-2">
                    <a href="#" routerLink="../image" [queryParams]="{}" >
                    <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
                </a>
                </div>
                <div class="col-sm-2">
                    <a href="#" routerLink="../image" [queryParams]="{}" >
                        <h4>Bulk Upload Images</h4>
                    </a>
                </div>
            
            </div>

</div>