<div class="row">
    <div class="col-sm-3 col-xs-3 header-content">
      <h3 class="header-Panel">Current {{nameModule}}</h3>
    </div>
    <div class="dropdown pull-right" *ngIf="!entityLocation.countrySelectionSetting">
      <button class="add-btn btn btn-primaryTheme dropdown-toggle pull-right" type="button" data-toggle="dropdown">  {{buttonName}}
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0);"  *ngIf="countryField" (click)="toggleCountrySelection()">New Country</a></li>
        <li><a href="javascript:void(0);" *ngIf="textField" (click)="toggleCitySelection()">New {{textLabel}}</a></li>
      </ul>
    </div>
    <div class="pull-right">

      <a href="javascript:void(0);" (click)="togglePanel()" class="btn btn-primaryTheme add-btn-newEntity" *ngIf="entityLocation.countrySelectionSetting">
        Submit
      </a>
    </div>
    <div id="demo" class="collapse-Selection" *ngIf="entityLocation.countrySelectionSetting">
      <h4>{{titleSeting}}</h4>

        
      <div class="setting-margin">


          <div class="form-group" *ngIf="languageField">
              <label for="">Language</label>
              <select name="" [(ngModel)]="newLanguageToEdit" id="" class="form-control  Select-Input rightSelect-Style">
                  <option selected disabled>Select New Language</option>
                  <option value={{language}} *ngFor="let language of languageList;">
                    {{language}}
                  </option>
                </select>
          </div>
      
        <div class="form-group" *ngIf="countryField">
            <label for="">Country</label>  
            <input *ngIf="newCountryPannel" list="countries" [(ngModel)]="newCountryToEdit" placeholder="Select New Country" class="form-control  Select-Input rightSelect-Style">
            <datalist id="countries">
              <option value={{country}} *ngFor="let country of availableSelectionCountries;">
            </datalist>


            <select *ngIf="!newCountryPannel"  name="" [(ngModel)]="newCountryToEdit" id="" class="form-control  Select-Input rightSelect-Style">
                <option selected disabled>Select New Country</option>
                <option value={{country}} *ngFor="let country of existingCountries;">
                  {{country}}
                </option>
            </select>
        </div>
     


          <div class="form-group" *ngIf="textField">
            <label for="">{{textLabel}}</label>
              <input type="text"
              placeholder="{{textLabel}}" 
              class="form-control"
              [(ngModel)]="newTextToEdit"> 
          </div>
          <alert></alert>
 
        <a href="javascript:void(0);" (click)="entityLocation.countrySelectionSetting=false" class="btn btn-default setting-margin">
          Cancel
        </a>
        <!-- (click)="addNewCountry()"  -->
        <button href="javascript:void(0);" class="btn btn-primaryTheme setting-margin" (click)="addNewCountry()">
            Submit
        </button>

      </div>
    </div>
  </div>