.align-center{
    margin-top: 2.5vh;
}
.imgCenter{
    margin: auto;
}
.imgSelected{
    margin-top: -5vh;
}
.upload-fileInput{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.table-checkIn input[type=checkbox]{
    position:relative;
}
.imgToShow{
    width: 200px;
    height: 100px;  
}