
<br>

<app-title-nav  [titleComponent]="'Upload Images'" [faIcon]= "'fa fa-picture-o fa-4x'"></app-title-nav>

<br>

<div class="container-fluid borderFluid">
  <div class="row">
    <div class="col-sm-2">
      <h3 class="header-Panel">Upload Image</h3>
    </div>
  </div>
  <div class="conatiner">
    <div class="row text-center">
      <h1>New Image</h1>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-8 uplloadForm">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
          <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-4">
              <label class="btn btn-primaryTheme upload-btn">
                  <i class="fa fa-upload" aria-hidden="true"></i>     
                  <ng-container *ngIf="imgSelected">
                    {{selectedFile.name}}
                  </ng-container>
                  <ng-container *ngIf="!imgSelected">
                      + New File
                    </ng-container>
                    <input type="file" id="file" class="upload-fileInput" accept="image/x-png,image/gif,image/jpeg" (change)="imageUpload($event)">
                </label>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primaryTheme" [disabled]="!imgSelected">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2">
        <img [lazyLoad]="imageUrl" [defaultImage]="defaultImage" style="width:200px; height:200px" class="imgSelected" *ngIf="imgSelected" />
      </div>
    </div>
  </div>
</div>
<br>
<div class="container-fluid borderFluid">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table">
        <thead>
          <tr>
            <th>

            </th>
            <th colspan="2">
              <!-- <label class="checkbox-inline table-checkIn"><input type="checkbox" value="" [(ngModel)]="bulkAction" (change)="toggleDeleteSelection()"></label> -->
              <select name="" id="" [(ngModel)]="selectOptions" (change)="deleteSelectedFiles($event)" class="select-Input table-select-Input">
                  <option selected disabled>Bulk Action</option>
                  <option  *ngIf="multipleFile.fileNames.length > 0" value='true'>Delete Selected</option>
                  <!-- <option *ngIf="bulkAction"  value='false'e>Delete All</option> -->
                </select>
            </th>

          </tr>
          <tr>
            <th>Preview</th>
            <th> FileName</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of paginationList.pagedItems; let i = index;">
            <td><img class="imgToShow" src={{imagSource(file.filename)}} alt=""></td>
            <td>
              <label class="checkbox-inline table-checkIn"><input type="checkbox" [checked]="isChecked(file.filename)" value="" [disabled]="bulkAction" (click)="fileSelection($event,file.filename)"></label>              
              {{file.filename}}
            </td>
            <td>
              <a href="#" data-toggle="modal" data-target="#deleteImageModal" (click)="selectToRemoveFile(file.filename)">
                    <span class="default-btn"><i class="fa fa-times" aria-hidden="true"></i>
                   Delete
                 </span>
                </a>
              <!-- <div class="checkbox col-sm-md-auto" style="margin-top: 2vh;">
                <a href="javascript:void(0)" style="margin-right: 0.6vw; color:red;" (click)="removeFile(file)"><i class="fa fa-minus" aria-hidden="true"></i></a>
              </div> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="deleteImageModal" tabindex="-1" role="dialog" aria-labelledby="locationModal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
          <h2 class="modal-title text-center" id="exampleModalLabel">Delete Image</h2>
        </div>
        <div class="modal-body text-center">
            <div>
                <img src={{imagSource(fileModalView)}} style="width:200px; height:200px" *ngIf="fileModalView"/>
              </div>
          Do you want to delete this image?
     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primaryTheme" data-dismiss="modal" (click)="onDelete([fileModalView])">Accept</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="paginationList.entityList.length>0">
  <app-pagination [init]="paginationList">
  </app-pagination>
</ng-container>