td{
    &.language-td{
        display: flex;
        height: 65px;
        padding: 13px 5px;
    }
    p{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  
}
th{
    &.order-th{
        cursor:pointer;
    }
}
