
    <div class="row list-Component">
      <div class="col-sm-12">
        <table class="table-condensed table-custom" *ngIf="entityLocation.resultsFound">
          <thead>
            <tr>
              <th (click)="firstDefault()" *ngIf="entityLocation.module === 'Campaign'"  class="order-th">
                Campaign
                <i class="fa fa-arrow-circle-down"> </i>
              </th>
              <th (click)="sortDatabyCountry()" class="order-th">
                Country 
                <i *ngIf="!orderASC" class="fa fa-arrow-circle-down"></i>
                <i *ngIf="orderASC" class="fa fa-arrow-circle-up">

                </i>
              </th>
              <th>
                Languages
              </th>
              <th>
                  <span *ngIf="entityLocation.module != 'Campaign'">
                      City
                  </span>
                  <span *ngIf="entityLocation.module == 'Campaign'">
                      Campaign
                  </span>
              </th>
              <th *ngIf="entityLocation.module === 'Campaign'">
                  From / To
              </th>
              <th *ngIf="entityLocation.module != 'Campaign'">
                Status
              </th>
              <th colspan="2">
                Options
              </th>
              <th *ngIf="entityLocation.module != 'Campaign'">
                <label class="checkbox-inline table-checkIn">
                  <input type="checkbox" value="" [(ngModel)]="bulkAction" (change)="toggleStatusSelection()">
                </label>
                <select *ngIf="bulkAction" name="" id="" (change)="changePublishStatus($event)" class="select-Input table-select-Input">
                  <option selected disabled>Bulk Action</option>
                  <option value='true'>Published All</option>
                  <option value='false' e>Un-Published All</option>
                </select>
                <span *ngIf="!bulkAction">Bulk Action</span>
              </th>
            </tr>
          </thead>
          <ng-container *ngFor="let entity of paginationList.pagedItems; let i = index;">
            <tr *ngFor="let location of entity.cities; let j = index;" [ngClass]="{'borderTable':j==0}">
              <td *ngIf="entityLocation.module === 'Campaign'" >
              <button href="#" class="btn btn-primaryTheme" *ngIf="j === 0 && !defaultCamp"  (click)="setAsDefualtAndSubmit(entity, true)">
                  Set as default
              </button> 
              <button href="#" class="btn btn-primaryTheme" *ngIf="j === 0 && entity.defaultCamp && defaultCamp"  (click)="setAsDefualtAndSubmit(entity,false)">
                  Unset Default
              </button> 
              <button class="btn btn-primaryTheme" (click)="setPriority(entity)" *ngIf="j==1" data-toggle="modal" data-target="#deleteModal">
                  Priority                
              </button>
              </td>
              <td>
                <p *ngIf="j==0">
                  {{ entity.countryName}}
                </p>
             
              </td>
              <td class="language-td">
                <ng-container>
                  <ng-container *ngFor="let city of location.properties[0]; let k = index;" >
                   
                    <br *ngIf="k % 3 == 0">
                    <a class="btn btn-default language-list" *ngIf="location.properties[0].length > 1" (click)="selectLanguageToDelete(entity, city.language, j)"
                      data-toggle="modal" data-target="#deleteModal">
                     
                        {{city.language}}
                      <span class="label">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="btn btn-default language-list" *ngIf="location.properties[0].length == 1">
                      {{city.language}}
                    </a>
                    
                    
                  </ng-container>
                </ng-container>
              </td>
              <td>
                <p>{{location.city || location.name}}</p>
              </td>
              <td *ngIf="entityLocation.module === 'Campaign'">
                  <h5>
                      From:
                      {{location.properties[0][0].fromSchedule}}
                  </h5>
                  
                  <h5>To:
                      {{location.properties[0][0].toSchedule}}
                  </h5>
                  
              </td>
              <td *ngIf="entityLocation.module != 'Campaign'">
                <p *ngIf="location.published">Published</p>
                <p *ngIf="!location.published">Un-Published</p>
              </td>
              <td>
                

                <a href="javascript:void(0);" (click)="editEntity(entity,j,i)">
                    <span class="default-btn">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      Edit
                    </span>
                  </a>
              </td>
              <td>
                <a href="#" data-toggle="modal" data-target="#deleteModal" (click)="selectPropertyToDelete(entity, j)">
                    <span class="default-btn">
                      <i class="fa fa-times" aria-hidden="true"></i>
                      Delete
                    </span>
                  </a>
  
              </td>

              <td *ngIf="entityLocation.module != 'Campaign'">
                <label class="checkbox-inline table-checkIn">
                  <input type="checkbox" value="" [(ngModel)]="entityToPublish[i]" *ngIf="j == 0" [disabled]="bulkAction">
                </label>
                <button class="btn btn-primaryTheme"  [disabled]="!entityToPublish[i] || bulkAction" (click)="setLocationPublishStatus(entity, true)"
                  *ngIf="j == 0 && getStatusPublish(entity)">
                  Publish
                </button>
                <button class="btn btn-primaryTheme" [disabled]="!entityToPublish[i] || bulkAction" (click)="setLocationPublishStatus(entity, false)"
                  *ngIf="j == 0 && !getStatusPublish(entity)">
                  un-Publish
                </button>
              </td>
            </tr>
          </ng-container>

        </table>
        <div *ngIf="!entityLocation.resultsFound">
          <h1> No Content Found</h1>
        </div>

      </div>
      
    </div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="exampleModalLabel" *ngIf="editPriority">Select Priority </h2>
        <h2 class="modal-title" id="exampleModalLabel" *ngIf="toggleDelete && !editPriority">Delete {{entityToDelete.countryName}}</h2>
        <h2 class="modal-title" id="exampleModalLabel" *ngIf="toggleDeleteLanguage && !editPriority">Delete Language</h2>
      </div>
      <div class="modal-body" *ngIf="toggleDelete">
        <table class="table-condensed table-custom" *ngIf="toggleDelete">
          <thead>
            <tr>
              <th>Country</th>
              <th>Languages</th>
              <th >
                <span *ngIf="entityLocation.module != 'Campaign'">
                    City
                </span>
                <span *ngIf="entityLocation.module == 'Campaign'">
                    Campaign
                </span>
              </th>
              <th *ngIf="entityLocation.module != 'Campaign'">Status</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let city of entityToDelete.cities[indexCityToDelete].properties[0]; let j = index;" [ngClass]="{'borderTable':j==0}">
              <td>
                <p *ngIf="j==0">
                  {{ entityToDelete.countryName}}
                </p>
              </td>
              <td>
                  <span class="btn btn-default language-list">{{city.language}}</span>
              </td>
              <td>
                <p>
                  {{city.campaignName || city.cityName }}
                </p>
              </td>
              <td *ngIf="entityLocation.module != 'Campaign'">
                <p *ngIf="entityToDelete.cities[indexCityToDelete].published">Published</p>
                <p *ngIf="!entityToDelete.cities[indexCityToDelete].published">Un-Published</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-priority-list *ngIf="editPriority" [propertyList]="propertySelected">

      </app-priority-list>
      <div class="modal-body" *ngIf="toggleDeleteLanguage">
        Do you want to delete language       
        <span class="btn btn-default language-list">{{languageToDelete}}</span> from <strong>{{ entityToDelete.cities[indexCityToDelete].name  || entityToDelete.cities[indexCityToDelete].city }}</strong> ?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primaryTheme" data-dismiss="modal" *ngIf="editPriority" (click)="onSubmitPriority(entityToPrior)">Accept</button>
        <button type="button" class="btn btn-primaryTheme" data-dismiss="modal" *ngIf="toggleDelete" (click)="removePropertyAndSubmit(entityToDelete)">Accept</button>
        <button type="button" class="btn btn-primaryTheme" data-dismiss="modal" *ngIf="toggleDeleteLanguage" (click)="removeLangAndSubmit()">Accept</button>
       
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


  <!-- pager -->
  <ng-container *ngIf="paginationList.entityList.length>0">
    <app-pagination [init]="paginationList">
    </app-pagination>
    <div [ngClass]="{'desactiveClass':entityLocation.countrySelectionSetting}">

      </div>
  </ng-container>
