
  <div class="form-group">
    <input 
    placeholder="search for location" 
    (change)="hasChange($event)" 
    autocorrect="off" autocapitalize="off" 
    spellcheck="off" 
    type="text" 
    class="form-control" 
    #search 
    [formControl]="searchControl">
  </div>
  <button (click)="setCurrentPosition()" class="default-btn label-location fa fa-map-marker">
    Set current location
  </button>
  <br>
  <agm-map 
  [latitude]="geoLocation.latitude" 
  [longitude]="geoLocation.longitude" 
  [scrollwheel]="false" 
  [zoom]="zoom"
  (mapClick)="mapClicked($event)"
  >
    <agm-marker 
    [latitude]="geoLocation.latitude" 
    [longitude]="geoLocation.longitude"
    [markerDraggable]="geoLocation.draggable"
    (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>
  <input type="number" class="form-control" [(ngModel)]="geoLocation.latitude" disabled>  
  <input type="number" class="form-control" [(ngModel)]="geoLocation.longitude" disabled>  
