
<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
    <ul>
        <li *ngFor="let text of message.text; let i = index;">
            -  {{text}}
        </li>
    </ul>
</div>